In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
X_Train = pd.read_csv("Logistic_X_Train.csv").values
print(X_Train.shape)

(3000, 3)

In [17]:
Y_Train = pd.read_csv("Logistic_Y_Train.csv").values
print(Y_Train.shape)

(3000, 1)

In [18]:
pd.read_csv("SampleOutput.csv")

      label
0         1
1         1
2         1
3         0
4         0
...     ...
2995      1
2996      1
2997      1
2998      0
2999      1

[3000 rows x 1 columns]

In [19]:
X_Test = pd.read_csv("Logistic_X_Test.csv").values
print(X_Test.shape)

(1000, 3)

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
model= LogisticRegression()

In [22]:
model.fit(X_Train,Y_Train.reshape(-1,))

LogisticRegression()

In [23]:
Y_Test = model.predict(X_Test)
type(Y_Test)

numpy.ndarray

In [24]:
Y_Test = pd.DataFrame(Y_Test)

In [25]:
Y_Test.columns=["label"]

In [26]:
Y_Test

     label
0        1
1        1
2        0
3        1
4        1
..     ...
995      0
996      0
997      1
998      1
999      0

[1000 rows x 1 columns]

In [27]:
Y_Test.to_csv('y_prediction.csv',index=False)

In [28]:
pd.read_csv("y_prediction.csv")

     label
0        1
1        1
2        0
3        1
4        1
..     ...
995      0
996      0
997      1
998      1
999      0

[1000 rows x 1 columns]